{#
/**
 * @file
 * Default theme implementation for views to display rows in a grid.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapping element.
 * - title: The title of this group of rows.
 * - view: The view object.
 * - rows: The rendered view results.
 * - options: The view plugin style options.
 *   - row_class_default: A flag indicating whether default classes should be
 *     used on rows.
 *   - col_class_default: A flag indicating whether default classes should be
 *     used on columns.
 * - items: A list of grid items. Each item contains a list of rows or columns.
 *   The order in what comes first (row or column) depends on which alignment
 *   type is chosen (horizontal or vertical).
 *   - attributes: HTML attributes for each row or column.
 *   - content: A list of columns or rows. Each row or column contains:
 *     - attributes: HTML attributes for each row or column.
 *     - content: The row or column contents.
 *
 * @see template_preprocess_views_view_grid()
 *
 * @ingroup themeable
 */
#}
{%
set classes = [
  'uk-grid',
  options.divider ? 'uk-grid-divider',
  options.match_height ? 'uk-grid-match',
  'uk-child-width-expand',
]
%}
{%
set col_classes = [
  'uk-width-1-2@m',
  'uk-width-1-1@s',
]
%}

{% if title %}
  <h3>{{ title }}</h3>
{% endif %}
<div{{ attributes }}>
  {% for row in items %}
    <div{{ row.attributes.addClass(classes, row_classes) }}>
      {% for column in row.content %}
        <div{{ column.attributes.addClass(col_classes) }}>
        {{ column.content }}
        </div>
    {% endfor %}
    </div>
  {% endfor %}
</div>
